@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Rubik:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Rubik', serif;
}

body {
    /* height: 100vh; */
    background-color: #4158d0;
    background-image: linear-gradient(43deg,
            #2a0341 0%,
            #110210 46%,
            #2d0938 100%);

    will-change: scroll-position;
    background-size: 500%;
    animation: gradient 10s ease-in-out 20 alternate-reverse;
}

@keyframes gradient {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

.bg-white-trans {
    background-color: rgba(226, 161, 228, 0.74);
}

.rounded-t-4xl {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.rounded-4xl {
    border-radius: 3rem;
}


.main-player-animate-up {
    animation: slide-up 1.5s ease-out forwards;
}

.main-player-animate-down {
    animation: slide-down 1.5s ease-out forwards;
}

@keyframes slide-up {
    from {
        bottom: -96rem;
    }

    to {
        bottom: 0;
    }
}

@keyframes slide-down {
    from {
        bottom: 0;
    }

    to {
        bottom: -96;
    }
}

.glow {
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    border-radius: 100%;
}

.glow-1 {
    animation: glow1 4s linear infinite;
}

.glow-2 {
    animation: glow2 4s linear infinite;
    animation-delay: 100ms;
}

.glow-3 {
    animation: glow3 4s linear infinite;
    animation-delay: 200ms;
}

.glow-4 {
    animation: glow4 4s linear infinite;
    animation-delay: 300ms;
}

@keyframes glow1 {
    0% {
        transform: translate(10%, 10%) scale(1);
    }

    25% {
        transform: translate(-10%, 10%) scale(1);
    }

    50% {
        transform: translate(-10%, -10%) scale(1);
    }

    75% {
        transform: translate(10%, -10%) scale(1);
    }

    100% {
        transform: translate(10%, 10%) scale(1);
    }
}

@keyframes glow2 {
    0% {
        transform: translate(-10%, -10%) scale(1);
    }

    25% {
        transform: translate(10%, -10%) scale(1);
    }

    50% {
        transform: translate(10%, 10%) scale(1);
    }

    75% {
        transform: translate(-10%, 10%) scale(1);
    }

    100% {
        transform: translate(-10%, -10%) scale(1);
    }
}

@keyframes glow3 {
    0% {
        transform: translate(-10%, 10%) scale(1);
    }

    25% {
        transform: translate(-10%, -10%) scale(1);
    }

    50% {
        transform: translate(10%, -10%) scale(1);
    }

    75% {
        transform: translate(10%, 10%) scale(1);
    }

    100% {
        transform: translate(-10%, 10%) scale(1);
    }
}

@keyframes glow4 {
    0% {
        transform: translate(10%, -10%) scale(1);
    }

    25% {
        transform: translate(10%, 10%) scale(1);
    }

    50% {
        transform: translate(-10%, 10%) scale(1);
    }

    75% {
        transform: translate(-10%, -10%) scale(1);
    }

    100% {
        transform: translate(10%, -10%) scale(1);
    }
}

.table {
    border-spacing: 0 15px;
}

i {
    font-size: 1rem !important;
}

.table tr {
    border-radius: 20px;
}

tr td:nth-child(n+5),
tr th:nth-child(n+5) {
    border-radius: 0 .625rem .625rem 0;
}

tr td:nth-child(1),
tr th:nth-child(1) {
    border-radius: .625rem 0 0 .625rem;
}