@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body {
	height: 100vh;
	background-color: #4158d0;
	background-image: linear-gradient(
		43deg,
		#4158d0 0%,
		#c850c0 46%,
		#70b7ff 100%
	);

	will-change: scroll-position;
	background-size: 500%;
	animation: gradient 10s ease-in-out infinite alternate-reverse;
}

@keyframes gradient {
	0% {
		background-position: 0%;
	}
	100% {
		background-position: 100%;
	}
}

.guitar {
	background-image: url("../../resources/images/SvgjsG1009.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 6rem;
	width: 6rem;
    position: absolute;
    top: 40%;
    left: 45%;
}

.poco {
	position: absolute;
    top: 50%;
    left: 35%;
	font-size: 1rem;
	font-weight: 600;
	color: #211366;
	font-family: "Raleway", serif;
}

.poco h2 {
	color: #442e83;
	font-size: 4em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.poco h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #1a0645;
}

.poco h2:nth-child(2) {
	color: #1a0645;
	animation: animate-poco 4s ease-in-out infinite;
}

.loco {
	position: absolute;
    top: 50%;
    right: 35%;
	font-size: 1rem;
	font-weight: 600;
	color: #1a0645;
	font-family: "Raleway", serif;}

.loco h2 {
	color: #1a0645;
	font-size: 4em;
	position: absolute;
	transform: translate(-50%, -50%);
}

.loco h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #1a0645;
}

.loco h2:nth-child(2) {
	color: #1a0645;
	animation: animate-loco 3s ease infinite reverse;
}

@keyframes animate-poco {
    0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}


@keyframes animate-loco {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}
